
<html>
<head>
  <!-- head content here -->
  <style>
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding:10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: lightgray;
}
  </style>
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        
    
    </nav>
</header>
</body>
</html>

<!-- partial --a piece of code that can be shared in multiple views eg.header,footer,sidenav
aside/adverts -->