<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    
    <h1>Welcome User</h1>
    <%- include("_nav.ejs") %>
    <p>This is a login system that can be intergrated into my project!!!</p>
    <p>System capabilities </p>
    <ul>
        <li>Account Creation</li>
        <li>Loggin in </li>
        <li>Session Management</li>
    </ul>
    <p>Add-ons</p>
    <ul>
        <li>Password Encryption</li>
        <li>backend input varidation</li>
        <li>database management</li>

    </ul>
</body>
</html>