<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <h1>Sign up Page</h1>

    <% include("_nav.ejs") %>
        <% if(locals.error) { %> <form action="http://localhost:3000/signup"></form> <%  }
        else <% { %> <form action=""></form><% } %> 
  


</body>
</html>