<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/signup.css">
    
</head>
<body>
    
    
    <%-  include('_nav.ejs')%>  
    
    <% if(locals.error) {%> 
    <form action="http://localhost:3000/signup" method="post">
        <p style="color: red;"><%= errorMeassage %></p>
        <div>
            <label for="fullname">Fullname</label>
            <input type="text" name="fullname" id="fullname">
        </div>
        
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <div>
            <label for="phone">Phone number</label>
            <input type="text" name="phone" id="phone" placeholder="+254">
        </div>
        <div>
            <label for="dob">Date of Birth</label>
            <input type="date" name="date" id="dob">
        </div>
       
        <button type="submit">Sign up</button>
        
        
    </form>
    <% } %>>
   
</body>
</html>